@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bellefair&family=Josefin+Sans:wght@200&family=Karla&family=Merriweather:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed&family=Bellefair&family=Josefin+Sans:wght@200&family=Karla&family=Merriweather:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed&family=Barlow:wght@300&family=Bellefair&family=Josefin+Sans:wght@200&family=Karla&family=Merriweather:wght@700&family=Roboto:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   

}

.fondoInicio{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0px;

}
.navbar{
    margin-top: 3vw;
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    position: absolute;
    right: 1px;
    z-index: 2;
    background-color: #97979748;
   width: 60vw;
   padding-left: 5vw;
height: 12vh;
    padding-top: 2vw;

}
.link{
    
    font-family: 'Barlow Condensed', sans-serif;

    margin-left: 2vw;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
&:active{
    border-bottom: 2px solid #fff;
    padding-bottom: 50px;
}

}

.planetTitle{
    position: absolute;
    z-index: 2;
    top: 24vh;
    left: 10vw;
    font-size: 30px;
    letter-spacing: 7px;
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
}
.numero{
    color: rgb(123, 123, 123);
    margin-right: 20px;
}
.planeta{
    position: absolute;
    z-index: 5;
    top: 40vh;
    left: 12vw;
    
}
.planeticas{

    position: absolute;
    z-index: 2;
    right: 10vw;
    top: 40vh;
    display: flex;
gap: 30px;

}
.infoplaneta{
    position: absolute;
    z-index: 2;
    right: 6.5vw;
    width: 500px;
    top: 50vh;
    color: #fff;
&__name{
    font-size: 150px;
    font-family: 'Bellefair', serif;
}
&__description{
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #D0D6F9
}
&__distancias{
    display: flex;
    border-top: 1px solid #d0d6f931;
    width: 100%;
    margin-top: 50px;
    padding-top: 30px;
    justify-content: space-between;
    padding-right: 8vw;
    &__tiltes{
        font-size: 13px;
        color: #D0D6F9;
        font-family: 'Barlow', sans-serif;
        letter-spacing: 1px;
    }
    &__text{
        font-family: 'Bellefair', serif;

font-size: 30px;
    }
}
}
.cont{
    position: absolute;
    z-index: 2;
width: 500px;
color: #fff;
top: 20vw;
left: 10vw;
&__pretitle{
    font-family: 'Barlow', sans-serif;
    letter-spacing: 4px;
    font-size: 25px;
    color: #D0D6F9
}
&__title{
    margin-top: 20px;
    font-family: 'Bellefair', serif;
    font-size: 150px;
}
&__text{
    font-size: 19px;
    font-family: 'Barlow', sans-serif;
    line-height: 30px;
    color: #D0D6F9
}
}
.blanco{
    position: absolute;
    width: 300px;
    height: 300px;
    font-family: 'Bellefair', serif;
    background-color: #fff;
    border-radius: 150px;
    text-align: center;
    padding-top: 130px;
    font-size: 30px;
    right: 10vw;
    top: 45vh;
}
.linea{
    border-bottom: 1px solid #fff;

}
.logo{
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 2.5vw;
}
.liniecita{
    width: 35vw;
    height: 1px;
background-color: #d0d6f94a;
position: absolute;
z-index: 2;
top: 5.5vw;
left: 9vw;
}

.fondoPrincipal{
    width: 100vw;
    height: 140vh;
    position: absolute;
    top: 0px;

}
.title_technology{
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    position: absolute;
    z-index: 1;
    padding-top: 15vw;
    padding-left: 10vw;
    font-size: 28px;
    letter-spacing: 4.725px;
    
}
.title_technology strong{
    opacity: 0.25;
}
.main_launch{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    color: #fff;
    padding-top: 25vw;
    padding-left: 20vw;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 32px;
}
.title_terminology{
    color: rgba(208, 214, 249, 1);
    font-size: 16px;

}
.title_Princ{
    color: rgba(255, 255, 255, 1);
    font-size: 56px;
    font-family: 'Bellefair', sans-serif;
    font-style: normal;
    line-height: 64px;
    margin-top: 5px;
}
.txt_main{
    color: rgba(208, 214, 249, 1);
    font-size: 18px;
    margin-top: 10px;
    width: 40%;
    font-family: 'Barlow', sans-serif;
}
.imgMain{
    position: absolute;
    width: 515px;
    height: 527px;
    top: 272px;
    left: 850px;
}
.pages_technology{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 23rem;
    left: 8rem;

}
.page_launch{
    background-color: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bellefair', sans-serif;
    font-size: 25px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    z-index: 2;
}
.page_launch :hover{

    background-color: #fff;
    color: black;

}
.page_spaceport{
    background-color: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bellefair', sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 25px;
    border: 1px solid white;
    text-decoration: none;
    z-index: 2;
}
.page_capsule{
    background-color: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bellefair', sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 25px;
    border: 1px solid white;
    text-decoration: none;
    z-index: 2;
}